<h3> Word Central <h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word|%>
    <li>
    <a href="/words/<%= word.id %>"> <%= word.name %></a>
    <li>
  <% end %>
  </ul>
  <% else %>
    <p> Looks like there isn't anything here...</p>
  <% end %>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name"> Enter Word </label>
    <input id="word_name" name="word_name" class="form-contrl" type="text">
  </div>
  <button type="submit" class="btn btn-primary"> Publish </button>
</form>          